<div class="container-fluid overflow-auto d-flex justify-content-center">
    
    <div class="row text-center">
        <!-- This is where the modal would typically be initialized, separate from the main content flow -->
        <div class="modal" id="errorModal" #errorModal tabindex="-1" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h3 class="modal-title">Greška</h3>
                    </div>
    
                    <div class="modal-body text-start">
                        {{this.error}}
                    </div>
    
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Razumem</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- Main content -->
        <div class="col-sm-12">
            <h1>Izrada fotografija online</h1>
        </div>
        <br><br><br>
        <!-- choose paper type -->
        <div class="col-sm-12">
            <h3>Da li želite akciju:</h3>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="extras" id="ne" value="ne" [(ngModel)]="extras" checked>
                <label class="form-check-label" for="ne">Ne želim akciju</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="extras" id="da" value="da" [(ngModel)]="extras">
                <label class="form-check-label" for="da">Želim akciju (album, privezak, magnet, poster, poklon iznenadjenje, stoni ram)</label>
            </div>
          </div>
        <div class="col-sm-12">
            <div *ngIf="extras === 'da' then showExtras">
            </div>
            <ng-template #showExtras>
                
            </ng-template>
        </div>
        <div class="col-sm-4"></div> <!-- Empty column for spacing -->
        <div class="col-sm-4">
            <br>
            <button class="btn btn-danger w-100" style="width: 100%;" (click)="chooseLocation()">DALJE</button>
        </div>
        <div class="col-sm-4"></div> <!-- Empty column for spacing -->

    </div>
</div>