<div class="container-fluid overflow-auto d-flex justify-content-center">
    
    <div class="row text-center">
        <!-- This is where the modal would typically be initialized, separate from the main content flow -->
        <div class="modal" id="notificationModal" #notificationModal tabindex="-1" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h3 class="modal-title">Važno obaveštenje!</h3>
                    </div>
    
                    <div class="modal-body text-start">
                        <ul>
                            <li>Rok za isporuku fotografija je do 7 radnih dana</li>
                            <li>Ukoliko na drugom koraku izaberete "bez akcije", nemate pravo na poklone</li>
                            <li>Ukoliko na drugom koraku izaberete "želim akciju", na svakih 100 fotografija imate pravo na 5 poklona (ako izaberete 500 fotografija, otvoriće vam se opcija da izaberete 5 seta poklona)</li>
                        </ul><hr>
                        Molimo Vas pročitate ovu poruku i uvažite ovo obaveštenje kako bi uštedeli naše vreme i Vaše fotografije dobili u što kraćem roku. Hvala Vam na razumevanju.
                    </div>
    
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Razumem</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal" id="errorModal" #errorModal tabindex="-1" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h3 class="modal-title">Greška</h3>
                    </div>
    
                    <div class="modal-body text-start">
                        {{this.error}}
                    </div>
    
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Razumem</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- Main content -->
        <div class="col-sm-12">
            <h1>Izrada fotografija online</h1>
        </div>
        <br><br><br>
        <div class="col-sm-4"></div> <!-- Empty column for spacing -->
        <div class="col-sm-4">
            <button class="btn btn-danger w-100" (click)="photoInput.click()">DODAJ SLIKE</button>
        </div>
        <div class="col-sm-4"></div> <!-- Empty column for spacing -->
        <br><br><br>
        <!-- hidden photo input -->
        <input type="file" #photoInput style="display: none" multiple (change)="onFilesSelected($event)">
        <!-- uploaded photos preview -->
        <div class="row mt-3">
            <div class="col-md-3" *ngFor="let image of blobs">
              <img [src]="image" class="img-fluid img-thumbnail">
            </div>
          </div>
        <!-- choose photo dimensions -->
        <div class="col-sm-4"></div>
        <div class="col-sm-4">
            <h3>Klikom na format selektujete sve fotografije u željenoj dimenziji:</h3><br>
            <select class="form-select text-center" name="" id="" [(ngModel)]="photoFormat">
                <option value="" disabled selected>--IZABERITE ŽELJENI FORMAT--</option>
                <option value="9x13">9x13</option>
                <option value="10x15">10x15</option>
                <option value="13x18">13x18</option>
                <option value="polaroid">polaroid</option>
                <!-- ... more options ... -->
            </select>
            <br>
        </div>
        <div class="col-sm-4"></div>
        <!-- choose paper type -->
        <div class="col-12 mt-3">
            <h3>Izaberite tip podloge papira:</h3>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="paperBacking" id="mat" checked>
                <label class="form-check-label" for="mat">Mat</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="paperBacking" id="sjaj">
                <label class="form-check-label" for="sjaj">Sjaj</label>
            </div>
        </div>
        <!-- next button -->
        <div class="col-sm-4"></div> <!-- Empty column for spacing -->
        <div class="col-sm-4">
            <br>
            <button class="btn btn-danger w-100" (click)="photosAdded()">DALJE</button>
        </div>
        <div class="col-sm-4"></div> <!-- Empty column for spacing -->
    </div>
    
</div>